<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home-style.css">
    <title>Home</title>
  </head>
  <body>
    <section id="cover-photo">


    <nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)) ">
 <a class="navbar-brand" href="#">Company Logo </a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarText">
   <ul class="navbar-nav ml-auto">
     <li class="nav-item active">
       <a class="nav-link" href="#">Home </a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#About">About</a>
     </li>
   <li class="nav-item">
     <a class="nav-link" href="#Services">Our Services</a>
   </li>
     <li class="nav-item">
       <a class="nav-link" href="#Contact">Contact</a>
     </li>

   </ul>
 </div>

</nav>

  <div id="input-tab">

    <form class="form-inline my-2 my-lg-0">
    <div class="input-group-prepend">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Buy</a>
      <a class="dropdown-item" href="#">Rent</a>
      <a class="dropdown-item" href="#">Sell</a>
    </div>
  </div>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
     <button class="btn my-2 my-sm-0" type="submit">Search</button>
   </form>
      <h3><span class="txt-type" data-wait="3000" data-words='["Buy","Sell","Rent"]'></span></h3>
  </div>

</section>
<section id="main-display">
  <div class="container">
    <h1>Hot properties</h1>
     <div class="featured">
       <div class="" onclick="location.href='/property1'">
        <h4> Property 1</h4>
        <p class="lead">450 sq.ft plot</p>
         <p>Rs.4.5l</p>
       </div>
       <div class="" onclick="location.href='/property2'">
       <h4>  Property 2 </h4>
       <p class="lead">1bhk flat</p>
       <p>Rs.65l</p>
       </div>
       <div class="" onclick="location.href='/property3'">
        <h4> Property 3</h4>
        <p class="lead">2500 sq.foot bungalow</p>
       <p>Rs.95l</p>
       </div>
       <div class="" onclick="location.href='/property4'">
        <h4> Property 4 </h4>
        <p class="lead">2bhk 650sq.ft plot</p>
        <p>Rs.2.5cr</p>
       </div>
       <div class="" onclick="location.href='/property5'">
         <h4>Property 5</h4>
         <p class="lead">1500 sq.ft plot</p>
         <p>Rs.95l</p>
       </div>
       <div class="" onclick="location.href='/property6'">
        <h4> Property 6</h4>
        <p class="lead">4500 sq.ft plot</p>
         <p>3.5cr</p>
       </div>
     </div>
      </div>

</section>

<footer id="footer">
  <h5>Footer</h5>
</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js">
    </script>
    <script src="js/type-writer.js">

    </script>
  </body>
</html>
