<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/property-style.css">
    <title></title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)) ">
 <a class="navbar-brand" href="#">Company Logo </a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarText">
   <ul class="navbar-nav ml-auto">
     <li class="nav-item active">
       <a class="nav-link" href="/">Home </a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="#About">About</a>
     </li>
   <li class="nav-item">
     <a class="nav-link" href="#Services">Our Services</a>
   </li>
     <li class="nav-item">
       <a class="nav-link" href="#Contact">Contact</a>
     </li>

   </ul>
 </div>

</nav>
<div class="container">
 <div id="main-body">

    <h3>Property 4</h3>
  <section id="property-display">
    <div class="img-display">
      <img src="/images/cover.jpg" alt="">
      <h5>Price :- 2.5Cr - 5Cr</h5>
    </div>
    <div class="info-display">
      <h3>Information</h3>
      <ul class="list-group">
<li class="list-group-item disabled">Cras justo odio</li>
<li class="list-group-item disabled">Dapibus ac facilisis in</li>
<li class="list-group-item disabled">Morbi leo risus</li>
<li class="list-group-item disabled">Porta ac consectetur ac</li>
<li class="list-group-item disabled">Vestibulum at eros</li>
<li class="list-group-item text-center"><button type="button" class="btn btn-primary">Contact</button></li>
 </ul>
    </div>
  </section>
 </div>
 <h4>Amenities</h4>
 <div class="amenity-section">

  <div class="">
    Amenity1
  </div>
  <div class="">
    Amenity2
  </div>
  <div class="">
    Amenity3
  </div>
  <div class="">
    Amenity4
  </div>
  <div class="">
    Amenity5
  </div>
  <div class="">
    Amenity6
  </div>

 </div>
</div>
<footer id="footer">
 footer
</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js">
    </script>
  </body>
</html>
